# files to be ignored: 
# 	1) object files created from the C++ source code 
#	2) Code::Blocks project files: .cbp, .depend, .layout
#	3) folders created by Code::Blocks project: obj, bin
*/bin
*/obj

*/*.layout
*/*.cbp
*/*.depend

*/*/bin
*/*/obj

*/*/*.cbp
*/*/*.layout
